@font-face {
    font-family: 'Grotesk-Bold';
    src: url('../assets/fonts/OverusedGrotesk-ExtraBold.otf');
}

.github {
    text-decoration: none;
    color: #24292f;
    font-family: 'Source Han Gothic';
    font-size: 30pt;
}
.logo {
    width: 300pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125pt;
    display: block;
}
.welcome {
    text-align: center;
    color: #000;
    line-height: 0.2;
    font-family: 'Source Han Gothic';
    font-size: x-large;
}
.mail_address {
    color: #000000;
    text-decoration: none;
    font-family: 'Source Pro Sans';
    font-size: 15pt;
}
.contact_container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50pt;
    margin-bottom: 20pt;
}