.github {
    text-decoration: none;
    color: #24292f;
    font-family: 'Source Han Gothic';
    font-size: 30pt;
}
.logo {
    width: 400pt;
    margin: auto;
    display: block;
}
.welcome {
    text-align: center;
    color: #000;
    line-height: 0.2;
    font-family: 'Source Han Gothic';
    font-size: x-large;
}