<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <link rel="stylesheet" href="{{ get_url(path='css/general.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='css/top_page.css') }}">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <header class="header">
        <img src="{{ get_url(path='images/icon_k.png') }}" height="40pt">
        <a class="header_text">Киноков Шотаскович</a>
    </header>

    {% block content %}{% endblock content %}

    <footer class="footer">
        <div>
            <a href="https://github.com/kinoko0518">
                <img class="icon" src="{{ get_url(path='images/logos/github_icon.svg') }}">
            </a>
            <a href="https://note.com/takedabosciola">
                <img class="icon" src="{{ get_url(path='images/logos/note_icon.svg') }}">
            </a>
        </div>
    </footer>
</body>
</html>
