{% extends "base.html" %} {% import "macros.html" as m %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path='css/article.css') }}">
{% endblock extra_head %}

{% block content %}
{% set projects = load_data(path="content/projects.toml") %}
<main style="margin-left: 15%; margin-right: 15%">
    <!-- Hero -->
    <img src="{{ get_url(path='images/logo_modern.png') }}" class="logo" />

    <div style="display: flex; justify-content: center">
        <a href="https://note.com/takedabosciola">
            <img
                class="tip"
                src="{{ get_url(path='images/logos/note.svg') }}"
            />
        </a>
        <a href="https://xe-non.com/">
            <img
                class="tip"
                src="{{ get_url(path='images/logos/xenon.svg') }}"
            />
        </a>
        <a href="https://github.com/kinoko0518">
            <img
                class="tip"
                src="{{ get_url(path='images/logos/github.png') }}"
            />
        </a>
    </div>

    <!-- Projects -->
    <div class="majour_heading_container">
        <img class="dash" src="{{ get_url(path='images/dash.png') }}" />
        <h1 class="majour_heading">Projects</h1>
    </div>

    {% set_global displayed_count = 0 %}
    <div class="project-container">
        {% for project in projects.private_projects %}
        {% if displayed_count < 6 %}
        {{ m::project_start(
            name=project.name,
            link=project.link,
            cover=project.cover,
            description=project.description
        ) }}
        <div
            style="
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5pt;
            "
        >
            {% for l in project.links %}
            {{ m::icon(img=l.img, link=l.link) }}
            {% endfor %}
        </div>
        {% if project.stacks | length > 0 %}
        <hr />
        <div
            style="display: flex; align-items: center; justify-content: center"
        >
            {% for s in project.stacks %}
            {% if not loop.first %}{{ m::stack_separator() }}{% endif %}
            {{ m::icon(img=s.img, link=s.link) }}
            {% endfor %}
        </div>
        {% endif %}
        {{ m::project_end() }}
        {% set_global displayed_count = displayed_count + 1 %}
        {% endif %}
        {% endfor %}

        {% for group in projects.team_groups %}
        {% for project in group.projects %}
        {% if displayed_count < 6 %}
        {{ m::project_start(
            name=project.name,
            link=project.link,
            cover=project.cover,
            description=project.description
        ) }}
        <div
            style="
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5pt;
            "
        >
            {% for l in project.links %}
            {{ m::icon(img=l.img, link=l.link) }}
            {% endfor %}
        </div>
        {% if project.stacks | length > 0 %}
        <hr />
        <div
            style="display: flex; align-items: center; justify-content: center"
        >
            {% for s in project.stacks %}
            {% if not loop.first %}{{ m::stack_separator() }}{% endif %}
            {{ m::icon(img=s.img, link=s.link) }}
            {% endfor %}
        </div>
        {% endif %}
        {{ m::project_end() }}
        {% set_global displayed_count = displayed_count + 1 %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

    <!-- More Button -->
    <div class="more-button-container">
        <a href="{{ get_url(path='projects/') }}" class="more-button">もっと見る</a>
    </div>

    <!-- Articles -->
    <div class="majour_heading_container">
        <img class="dash" src="{{ get_url(path='images/dash.png') }}" />
        <h1 class="majour_heading">Articles</h1>
    </div>

    <div class="article-container" style="margin-top: 30pt;">
        {% set root_sec = get_section(path="articles/_index.md") %}
        {% set_global all_articles = root_sec.pages %}
        {% for sub_path in root_sec.subsections %}
            {% set sub_sec = get_section(path=sub_path) %}
            {% set_global all_articles = all_articles | concat(with=sub_sec.pages) %}
        {% endfor %}
        {% set articles_list = all_articles | unique(attribute="permalink") | sort(attribute="date") | reverse %}
        {% for article in articles_list | slice(end=6) %}
        {% if article.extra %}
            {% set cover = article.extra.cover | default(value="") %}
            {% set abstract = article.extra.abstract | default(value="") %}
            {% set extra_tags = article.extra.tags | default(value=[]) %}
        {% else %}
            {% set cover = "" %}
            {% set abstract = "" %}
            {% set extra_tags = [] %}
        {% endif %}
        {% set tags = article.taxonomies.tags | default(value=extra_tags) %}
        {% if article.components | length > 2 %}
            {% set dir_tag = article.components[1] %}
        {% else %}
            {% set dir_tag = "" %}
        {% endif %}
        {{ m::article_card(
            title=article.title,
            link=article.permalink,
            cover=cover,
            abstract=abstract,
            date=article.date,
            dir_tag=dir_tag,
            tags=tags
        ) }}
        {% endfor %}
    </div>

    <!-- More Button -->
    <div class="more-button-container">
        <a href="{{ get_url(path='articles/') }}" class="more-button">もっと見る</a>
    </div>
</main>
{% endblock content %}
