{% extends "base.html" %} {% import "macros.html" as m %} {% block content %}
{% set projects = load_data(path="content/projects.toml") %}
<main style="margin-left: 15%; margin-right: 15%">
    <!-- Hero -->
    <img src="{{ get_url(path='images/logo_modern.png') }}" class="logo" />

    <div style="display: flex; justify-content: center">
        <a href="https://note.com/takedabosciola">
            <img
                class="tip"
                src="{{ get_url(path='images/logos/note.svg') }}"
            />
        </a>
        <a href="https://xe-non.com/">
            <img
                class="tip"
                src="{{ get_url(path='images/logos/xenon.svg') }}"
            />
        </a>
        <a href="https://github.com/kinoko0518">
            <img
                class="tip"
                src="{{ get_url(path='images/logos/github.png') }}"
            />
        </a>
    </div>

    <!-- Private Projects -->
    <div class="majour_heading_container">
        <img class="dash" src="{{ get_url(path='images/dash.png') }}" />
        <h1 class="majour_heading">Private Projects</h1>
    </div>

    <div class="project-container">
        {% for project in projects.private_projects %}
        {{ m::project_start(
            name=project.name,
            link=project.link,
            cover=project.cover,
            description=project.description
        ) }}
        <div
            style="
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5pt;
            "
        >
            {% for l in project.links %}
            {{ m::icon(img=l.img, link=l.link) }}
            {% endfor %}
        </div>
        {% if project.stacks | length > 0 %}
        <hr />
        <div
            style="display: flex; align-items: center; justify-content: center"
        >
            {% for s in project.stacks %}
            {% if not loop.first %}{{ m::stack_separator() }}{% endif %}
            {{ m::icon(img=s.img, link=s.link) }}
            {% endfor %}
        </div>
        {% endif %}
        {{ m::project_end() }}
        {% endfor %}
    </div>

    <!-- Team Projects -->
    <div class="majour_heading_container">
        <img class="dash" src="{{ get_url(path='images/dash.png') }}" />
        <h1 class="majour_heading">Team Projects</h1>
    </div>

    {% for group in projects.team_groups %}
    <!-- {{ group.name }} -->
    <a href="{{ group.link }}">
        <img
            src="{{ get_url(path=group.logo) }}"
            height="65pt"
            style="margin-top: 30pt; margin-bottom: 10pt"
        />
    </a>

    <div class="project-container">
        {% for project in group.projects %}
        {{ m::project_start(
            name=project.name,
            link=project.link,
            cover=project.cover,
            description=project.description
        ) }}
        <div
            style="
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5pt;
            "
        >
            {% for l in project.links %}
            {{ m::icon(img=l.img, link=l.link) }}
            {% endfor %}
        </div>
        {% if project.stacks | length > 0 %}
        <hr />
        <div
            style="display: flex; align-items: center; justify-content: center"
        >
            {% for s in project.stacks %}
            {% if not loop.first %}{{ m::stack_separator() }}{% endif %}
            {{ m::icon(img=s.img, link=s.link) }}
            {% endfor %}
        </div>
        {% endif %}
        {{ m::project_end() }}
        {% endfor %}
    </div>
    {% endfor %}
</main>
{% endblock content %}
